BTrees==4.10.0
cffi==1.15.0
perfmetrics==3.2.0.post0
persistent==4.9.0
pycparser==2.21
RelStorage==3.4.5
six==1.16.0
transaction==3.0.1
zc.lockfile==2.0
ZConfig==3.6.0
ZODB==5.7.0
zodbpickle==2.3
zope.dottedname==4.3
zope.interface==5.4.0
